body {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: Raleway;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}

a {
  font-family: Raleway;
  color: #f15b31;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}

h2 {
  font-family: Raleway;
  color: #0d2c40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}

p {
  font-family: "Droid Serif";
  line-height: 26px;
  font-size: 18px;
}

header {
  background-color: #f15b31;
  padding: 30px 20px;
  color: #ffffff;
}

nav {
  background-color: #00a6b3;
  padding: 20px 0;
}

nav a {
  color: #ffffff;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom-color: white;
}

main {
  width: 850px;
  margin: 35px auto;
}

img {
  margin: 40px 8px;
}

footer {
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #0d2c40;
  color: white;
  font-size: 14px;
  letter-spacing: 0.08em;
  font-weight: 500;
  font-family: raleway;
}

footer p {
  font-size: 14px;
  font-weight: 500;
}

.copyright {
  float: left;
}

.message {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color: #f15b31;
  font-weight: 700;
}

button {
  background: #f15b31;
  color: white;
  font-family: Raleway;
}

button:hover {
  background: #00a6b3;
}
